# Recommendation System Engine

### Data Preprocessing

Import dataset

In [1]:
import pandas as pd

df = pd.read_excel('name_movie_df.xlsx', index_col=0)

In [2]:
df

,intelligent,real,touching,relatable,sad,romantic,informative,mean,fake,glamorous,...,info_real_int_insp,fun_outrag_mindless,fastpaced_thrilling_exciting,scary_dist_edgy_thrill,origi_imagin_fresh_imag,sad_dramatic_deep_touching,fake_unrel_unorig_predic,sexy_glam_rom,touching_wholesome_uplifting,mean_edgy
movie_name,,,,,,,,,,,,,,,,,,,,,
Man on a Ledge,0.200000,0.105263,0.094737,0.063158,0.105263,0.031579,0.094737,0.031579,0.031579,0.010526,...,0.118421,0.077193,0.431579,0.278947,0.197368,0.192105,0.034211,0.021053,0.049123,0.131579
Seeds of Yesterday,0.098901,0.065934,0.120879,0.098901,0.230769,0.164835,0.131868,0.076923,0.054945,0.087912,...,0.087912,0.087912,0.205128,0.211538,0.112637,0.239011,0.046703,0.113553,0.069597,0.120879
Billy Jack,0.144330,0.154639,0.206186,0.134021,0.134021,0.082474,0.092784,0.092784,0.041237,0.010309,...,0.144330,0.072165,0.274914,0.167526,0.177835,0.213918,0.041237,0.034364,0.134021,0.154639
High Flying Bird,0.244444,0.200000,0.111111,0.155556,0.044444,0.111111,0.177778,0.033333,0.077778,0.077778,...,0.205556,0.103704,0.159259,0.113889,0.172222,0.133333,0.083333,0.103704,0.088889,0.100000
Annihilation,0.264706,0.019608,0.039216,0.039216,0.078431,0.019608,0.049020,0.000000,0.039216,0.009804,...,0.090686,0.065359,0.290850,0.321078,0.279412,0.164216,0.046569,0.016340,0.019608,0.112745
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Greyhound,0.307692,0.230769,0.115385,0.076923,0.115385,0.038462,0.307692,0.000000,0.000000,0.115385,...,0.240385,0.064103,0.474359,0.221154,0.201923,0.192308,0.038462,0.064103,0.064103,0.057692
Killer Prom,0.074074,0.037037,0.037037,0.111111,0.055556,0.055556,0.092593,0.092593,0.074074,0.055556,...,0.069444,0.141975,0.265432,0.245370,0.069444,0.101852,0.083333,0.061728,0.018519,0.129630
The Golden Child,0.115385,0.051282,0.141026,0.025641,0.000000,0.038462,0.012821,0.012821,0.051282,0.064103,...,0.083333,0.264957,0.264957,0.115385,0.208333,0.134615,0.044872,0.047009,0.111111,0.025641
Max Reload and the Nether Blasters,0.113208,0.132075,0.094340,0.113208,0.056604,0.037736,0.169811,0.094340,0.037736,0.094340,...,0.141509,0.125786,0.226415,0.099057,0.136792,0.080189,0.070755,0.100629,0.062893,0.075472
The Girl with the Dragon Tattoo,0.329670,0.043956,0.098901,0.043956,0.120879,0.010989,0.010989,0.021978,0.010989,0.032967,...,0.104396,0.040293,0.542125,0.373626,0.288462,0.222527,0.010989,0.084249,0.040293,0.214286

Let's extract the title from the index

In [3]:
df.reset_index(inplace=True)
df = df.rename(columns = {'movie_name':'title'})
df['title'] = df['title'].astype(str)
df

,title,intelligent,real,touching,relatable,sad,romantic,informative,mean,fake,...,info_real_int_insp,fun_outrag_mindless,fastpaced_thrilling_exciting,scary_dist_edgy_thrill,origi_imagin_fresh_imag,sad_dramatic_deep_touching,fake_unrel_unorig_predic,sexy_glam_rom,touching_wholesome_uplifting,mean_edgy
0,Man on a Ledge,0.200000,0.105263,0.094737,0.063158,0.105263,0.031579,0.094737,0.031579,0.031579,...,0.118421,0.077193,0.431579,0.278947,0.197368,0.192105,0.034211,0.021053,0.049123,0.131579
1,Seeds of Yesterday,0.098901,0.065934,0.120879,0.098901,0.230769,0.164835,0.131868,0.076923,0.054945,...,0.087912,0.087912,0.205128,0.211538,0.112637,0.239011,0.046703,0.113553,0.069597,0.120879
2,Billy Jack,0.144330,0.154639,0.206186,0.134021,0.134021,0.082474,0.092784,0.092784,0.041237,...,0.144330,0.072165,0.274914,0.167526,0.177835,0.213918,0.041237,0.034364,0.134021,0.154639
3,High Flying Bird,0.244444,0.200000,0.111111,0.155556,0.044444,0.111111,0.177778,0.033333,0.077778,...,0.205556,0.103704,0.159259,0.113889,0.172222,0.133333,0.083333,0.103704,0.088889,0.100000
4,Annihilation,0.264706,0.019608,0.039216,0.039216,0.078431,0.019608,0.049020,0.000000,0.039216,...,0.090686,0.065359,0.290850,0.321078,0.279412,0.164216,0.046569,0.016340,0.019608,0.112745
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2613,Greyhound,0.307692,0.230769,0.115385,0.076923,0.115385,0.038462,0.307692,0.000000,0.000000,...,0.240385,0.064103,0.474359,0.221154,0.201923,0.192308,0.038462,0.064103,0.064103,0.057692
2614,Killer Prom,0.074074,0.037037,0.037037,0.111111,0.055556,0.055556,0.092593,0.092593,0.074074,...,0.069444,0.141975,0.265432,0.245370,0.069444,0.101852,0.083333,0.061728,0.018519,0.129630
2615,The Golden Child,0.115385,0.051282,0.141026,0.025641,0.000000,0.038462,0.012821,0.012821,0.051282,...,0.083333,0.264957,0.264957,0.115385,0.208333,0.134615,0.044872,0.047009,0.111111,0.025641
2616,Max Reload and the Nether Blasters,0.113208,0.132075,0.094340,0.113208,0.056604,0.037736,0.169811,0.094340,0.037736,...,0.141509,0.125786,0.226415,0.099057,0.136792,0.080189,0.070755,0.100629,0.062893,0.075472
2617,The Girl with the Dragon Tattoo,0.329670,0.043956,0.098901,0.043956,0.120879,0.010989,0.010989,0.021978,0.010989,...,0.104396,0.040293,0.542125,0.373626,0.288462,0.222527,0.010989,0.084249,0.040293,0.214286

In [4]:
user_feat = pd.read_excel('user_feat.xlsx', index_col=0)  
user_feat.reset_index(inplace=True)
user_feat

,movie_id,social_people,casual,serious,follower,frequent,avg_rat
0,8984,0.410526,0.378947,0.442105,0.557895,0.947368,4.284211
1,8985,0.312500,0.325000,0.162500,0.250000,0.737500,4.175000
2,8986,0.185567,0.278351,0.237113,0.206186,0.835052,3.896907
3,8987,0.242105,0.368421,0.189474,0.157895,0.842105,3.800000
4,8988,0.365591,0.419355,0.387097,0.569892,1.000000,4.225806
...,...,...,...,...,...,...,...
2613,13526,0.242105,0.010526,0.231579,0.063158,0.747368,4.200000
2614,13527,0.186813,0.010989,0.285714,0.087912,0.593407,4.395604
2615,13528,0.207547,0.018868,0.301887,0.056604,0.849057,3.716981
2616,13529,0.251572,0.000000,0.245283,0.106918,0.761006,4.289308
2617,13532,0.209877,0.012346,0.234568,0.135802,0.666667,3.950617

In [5]:
user_feat = user_feat.drop(['movie_id'], axis=1)
df = pd.concat([df, user_feat], axis=1, ignore_index=True)
df

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,50
0,Man on a Ledge,0.200000,0.105263,0.094737,0.063158,0.105263,0.031579,0.094737,0.031579,0.031579,...,0.034211,0.021053,0.049123,0.131579,0.410526,0.378947,0.442105,0.557895,0.947368,4.284211
1,Seeds of Yesterday,0.098901,0.065934,0.120879,0.098901,0.230769,0.164835,0.131868,0.076923,0.054945,...,0.046703,0.113553,0.069597,0.120879,0.312500,0.325000,0.162500,0.250000,0.737500,4.175000
2,Billy Jack,0.144330,0.154639,0.206186,0.134021,0.134021,0.082474,0.092784,0.092784,0.041237,...,0.041237,0.034364,0.134021,0.154639,0.185567,0.278351,0.237113,0.206186,0.835052,3.896907
3,High Flying Bird,0.244444,0.200000,0.111111,0.155556,0.044444,0.111111,0.177778,0.033333,0.077778,...,0.083333,0.103704,0.088889,0.100000,0.242105,0.368421,0.189474,0.157895,0.842105,3.800000
4,Annihilation,0.264706,0.019608,0.039216,0.039216,0.078431,0.019608,0.049020,0.000000,0.039216,...,0.046569,0.016340,0.019608,0.112745,0.365591,0.419355,0.387097,0.569892,1.000000,4.225806
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2613,Greyhound,0.307692,0.230769,0.115385,0.076923,0.115385,0.038462,0.307692,0.000000,0.000000,...,0.038462,0.064103,0.064103,0.057692,0.242105,0.010526,0.231579,0.063158,0.747368,4.200000
2614,Killer Prom,0.074074,0.037037,0.037037,0.111111,0.055556,0.055556,0.092593,0.092593,0.074074,...,0.083333,0.061728,0.018519,0.129630,0.186813,0.010989,0.285714,0.087912,0.593407,4.395604
2615,The Golden Child,0.115385,0.051282,0.141026,0.025641,0.000000,0.038462,0.012821,0.012821,0.051282,...,0.044872,0.047009,0.111111,0.025641,0.207547,0.018868,0.301887,0.056604,0.849057,3.716981
2616,Max Reload and the Nether Blasters,0.113208,0.132075,0.094340,0.113208,0.056604,0.037736,0.169811,0.094340,0.037736,...,0.070755,0.100629,0.062893,0.075472,0.251572,0.000000,0.245283,0.106918,0.761006,4.289308
2617,The Girl with the Dragon Tattoo,0.329670,0.043956,0.098901,0.043956,0.120879,0.010989,0.010989,0.021978,0.010989,...,0.010989,0.084249,0.040293,0.214286,0.209877,0.012346,0.234568,0.135802,0.666667,3.950617

In [6]:
df.columns = df.columns.map(str)

In [7]:
df = df.rename(columns={"0": "title"})
df

,title,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,50
0,Man on a Ledge,0.200000,0.105263,0.094737,0.063158,0.105263,0.031579,0.094737,0.031579,0.031579,...,0.034211,0.021053,0.049123,0.131579,0.410526,0.378947,0.442105,0.557895,0.947368,4.284211
1,Seeds of Yesterday,0.098901,0.065934,0.120879,0.098901,0.230769,0.164835,0.131868,0.076923,0.054945,...,0.046703,0.113553,0.069597,0.120879,0.312500,0.325000,0.162500,0.250000,0.737500,4.175000
2,Billy Jack,0.144330,0.154639,0.206186,0.134021,0.134021,0.082474,0.092784,0.092784,0.041237,...,0.041237,0.034364,0.134021,0.154639,0.185567,0.278351,0.237113,0.206186,0.835052,3.896907
3,High Flying Bird,0.244444,0.200000,0.111111,0.155556,0.044444,0.111111,0.177778,0.033333,0.077778,...,0.083333,0.103704,0.088889,0.100000,0.242105,0.368421,0.189474,0.157895,0.842105,3.800000
4,Annihilation,0.264706,0.019608,0.039216,0.039216,0.078431,0.019608,0.049020,0.000000,0.039216,...,0.046569,0.016340,0.019608,0.112745,0.365591,0.419355,0.387097,0.569892,1.000000,4.225806
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2613,Greyhound,0.307692,0.230769,0.115385,0.076923,0.115385,0.038462,0.307692,0.000000,0.000000,...,0.038462,0.064103,0.064103,0.057692,0.242105,0.010526,0.231579,0.063158,0.747368,4.200000
2614,Killer Prom,0.074074,0.037037,0.037037,0.111111,0.055556,0.055556,0.092593,0.092593,0.074074,...,0.083333,0.061728,0.018519,0.129630,0.186813,0.010989,0.285714,0.087912,0.593407,4.395604
2615,The Golden Child,0.115385,0.051282,0.141026,0.025641,0.000000,0.038462,0.012821,0.012821,0.051282,...,0.044872,0.047009,0.111111,0.025641,0.207547,0.018868,0.301887,0.056604,0.849057,3.716981
2616,Max Reload and the Nether Blasters,0.113208,0.132075,0.094340,0.113208,0.056604,0.037736,0.169811,0.094340,0.037736,...,0.070755,0.100629,0.062893,0.075472,0.251572,0.000000,0.245283,0.106918,0.761006,4.289308
2617,The Girl with the Dragon Tattoo,0.329670,0.043956,0.098901,0.043956,0.120879,0.010989,0.010989,0.021978,0.010989,...,0.010989,0.084249,0.040293,0.214286,0.209877,0.012346,0.234568,0.135802,0.666667,3.950617

In [8]:
movie_df = df
movie_df = movie_df.drop(['title'], axis=1)
movie_df = movie_df.T

In [9]:
movie_df

,0,1,2,3,4,5,6,7,8,9,...,2608,2609,2610,2611,2612,2613,2614,2615,2616,2617
1,0.200000,0.098901,0.144330,0.244444,0.264706,0.175258,0.171717,0.217391,0.030928,0.040000,...,0.020000,0.050000,0.071429,0.130435,0.160494,0.307692,0.074074,0.115385,0.113208,0.329670
2,0.105263,0.065934,0.154639,0.200000,0.019608,0.113402,0.020202,0.065217,0.103093,0.130000,...,0.020000,0.012500,0.011905,0.043478,0.024691,0.230769,0.037037,0.051282,0.132075,0.043956
3,0.094737,0.120879,0.206186,0.111111,0.039216,0.216495,0.101010,0.065217,0.340206,0.370000,...,0.160000,0.087500,0.000000,0.173913,0.049383,0.115385,0.037037,0.141026,0.094340,0.098901
4,0.063158,0.098901,0.134021,0.155556,0.039216,0.123711,0.000000,0.119565,0.082474,0.100000,...,0.160000,0.087500,0.000000,0.028986,0.049383,0.076923,0.111111,0.025641,0.113208,0.043956
5,0.105263,0.230769,0.134021,0.044444,0.078431,0.144330,0.080808,0.032609,0.041237,0.220000,...,0.020000,0.025000,0.000000,0.086957,0.024691,0.115385,0.055556,0.000000,0.056604,0.120879
6,0.031579,0.164835,0.082474,0.111111,0.019608,0.484536,0.000000,0.108696,0.711340,0.710000,...,0.660000,0.075000,0.011905,0.028986,0.012346,0.038462,0.055556,0.038462,0.037736,0.010989
7,0.094737,0.131868,0.092784,0.177778,0.049020,0.020619,0.040404,0.119565,0.051546,0.050000,...,0.020000,0.000000,0.000000,0.057971,0.024691,0.307692,0.092593,0.012821,0.169811,0.010989
8,0.031579,0.076923,0.092784,0.033333,0.000000,0.000000,0.040404,0.086957,0.010309,0.030000,...,0.040000,0.012500,0.023810,0.043478,0.000000,0.000000,0.092593,0.012821,0.094340,0.021978
9,0.031579,0.054945,0.041237,0.077778,0.039216,0.000000,0.070707,0.032609,0.020619,0.020000,...,0.000000,0.075000,0.083333,0.072464,0.061728,0.000000,0.074074,0.051282,0.037736,0.010989
10,0.010526,0.087912,0.010309,0.077778,0.009804,0.041237,0.000000,0.086957,0.041237,0.060000,...,0.040000,0.000000,0.000000,0.057971,0.012346,0.115385,0.055556,0.064103,0.094340,0.032967
11,0.326316,0.230769,0.432990,0.266667,0.343137,0.309278,0.333333,0.152174,0.237113,0.150000,...,0.180000,0.212500,0.333333,0.304348,0.259259,0.384615,0.092593,0.358974,0.150943,0.483516
12,0.021053,0.054945,0.061856,0.100000,0.058824,0.072165,0.090909,0.119565,0.175258,0.180000,...,0.280000,0.075000,0.059524,0.028986,0.135802,0.038462,0.185185,0.076923,0.113208,0.032967
13,0.073684,0.021978,0.051546,0.100000,0.107843,0.061856,0.070707,0.065217,0.082474,0.050000,...,0.000000,0.075000,0.059524,0.115942,0.074074,0.076923,0.037037,0.089744,0.113208,0.076923
14,0.073684,0.054945,0.030928,0.044444,0.029412,0.123711,0.030303,0.043478,0.051546,0.040000,...,0.060000,0.025000,0.166667,0.057971,0.074074,0.038462,0.111111,0.025641,0.094340,0.010989
15,0.031579,0.054945,0.030928,0.077778,0.068627,0.030928,0.060606,0.032609,0.030928,0.020000,...,0.040000,0.050000,0.047619,0.086957,0.049383,0.076923,0.037037,0.038462,0.037736,0.000000
16,0.189474,0.098901,0.082474,0.077778,0.401961,0.113402,0.222222,0.097826,0.072165,0.020000,...,0.060000,0.237500,0.214286,0.231884,0.160494,0.038462,0.074074,0.269231,0.169811,0.263736
17,0.010526,0.065934,0.082474,0.066667,0.019608,0.041237,0.060606,0.076087,0.216495,0.240000,...,0.300000,0.150000,0.000000,0.173913,0.012346,0.076923,0.000000,0.089744,0.094340,0.010989
18,0.073684,0.054945,0.185567,0.200000,0.029412,0.061856,0.020202,0.054348,0.072165,0.210000,...,0.120000,0.012500,0.023810,0.101449,0.074074,0.115385,0.074074,0.153846,0.150943,0.032967
19,0.010526,0.000000,0.010309,0.022222,0.019608,0.020619,0.020202,0.010870,0.010309,0.000000,...,0.040000,0.012500,0.023810,0.000000,0.037037,0.038462,0.055556,0.000000,0.018868,0.010989
20,0.231579,0.164835,0.216495,0.166667,0.225490,0.051546,0.151515,0.195652,0.010309,0.040000,...,0.020000,0.025000,0.178571,0.028986,0.172840,0.115385,0.166667,0.038462,0.056604,0.406593
21,0.242105,0.065934,0.185567,0.133333,0.078431,0.020619,0.181818,0.163043,0.041237,0.010000,...,0.040000,0.062500,0.166667,0.086957,0.432099,0.384615,0.074074,0.141026,0.113208,0.362637
22,0.105263,0.263736,0.092784,0.100000,0.303922,0.010309,0.080808,0.076087,0.020619,0.020000,...,0.020000,0.000000,0.357143,0.014493,0.037037,0.076923,0.203704,0.025641,0.113208,0.186813
23,0.452632,0.373626,0.371134,0.244444,0.382353,0.237113,0.303030,0.195652,0.216495,0.260000,...,0.180000,0.075000,0.178571,0.086957,0.259259,0.423077,0.314815,0.320513,0.113208,0.461538
24,0.042105,0.109890,0.020619,0.022222,0.049020,0.072165,0.090909,0.086957,0.000000,0.000000,...,0.020000,0.025000,0.202381,0.057971,0.086420,0.038462,0.111111,0.089744,0.018868,0.065934
25,0.336842,0.208791,0.319588,0.211111,0.225490,0.123711,0.373737,0.195652,0.175258,0.160000,...,0.080000,0.187500,0.380952,0.202899,0.320988,0.384615,0.314815,0.307692,0.377358,0.483516
26,0.021053,0.065934,0.041237,0.044444,0.009804,0.030928,0.010101,0.076087,0.072165,0.100000,...,0.120000,0.062500,0.000000,0.028986,0.000000,0.000000,0.018519,0.012821,0.075472,0.021978
27,0.105263,0.076923,0.041237,0.111111,0.137255,0.051546,0.050505,0.043478,0.061856,0.090000,...,0.020000,0.025000,0.023810,0.043478,0.061728,0.076923,0.018519,0.064103,0.056604,0.021978
28,0.052632,0.021978,0.030928,0.077778,0.019608,0.000000,0.080808,0.076087,0.000000,0.040000,...,0.000000,0.037500,0.035714,0.014493,0.037037,0.038462,0.037037,0.012821,0.094340,0.000000
29,0.042105,0.021978,0.113402,0.088889,0.000000,0.072165,0.040404,0.000000,0.164948,0.150000,...,0.120000,0.100000,0.000000,0.115942,0.037037,0.000000,0.018519,0.102564,0.000000,0.010989
30,0.021053,0.087912,0.010309,0.122222,0.019608,0.113402,0.000000,0.054348,0.113402,0.130000,...,0.100000,0.000000,0.000000,0.028986,0.000000,0.038462,0.074074,0.038462,0.169811,0.208791
31,0.115789,0.230769,0.144330,0.133333,0.156863,0.061856,0.141414,0.054348,0.030928,0.100000,...,0.040000,0.012500,0.035714,0.057971,0.012346,0.115385,0.000000,0.076923,0.056604,0.208791
32,0.063158,0.076923,0.041237,0.055556,0.186275,0.010309,0.080808,0.054348,0.010309,0.000000,...,0.000000,0.000000,0.690476,0.000000,0.000000,0.038462,0.203704,0.051282,0.037736,0.120879
33,0.715789,0.340659,0.319588,0.133333,0.568627,0.072165,0.666667,0.336957,0.061856,0.080000,...,0.040000,0.100000,0.678571,0.115942,0.567901,0.653846,0.407407,0.346154,0.188679,0.780220
34,0.115789,0.098901,0.164948,0.244444,0.117647,0.762887,0.171717,0.336957,0.701031,0.230000,...,0.260000,0.850000,0.452381,0.710145,0.185185,0.115385,0.203704,0.679487,0.264151,0.043956
35,0.118421,0.087912,0.144330,0.205556,0.090686,0.092784,0.063131,0.114130,0.064433,0.107500,...,0.045000,0.018750,0.026786,0.083333,0.070988,0.240385,0.069444,0.083333,0.141509,0.104396
36,0.077193,0.087912,0.072165,0.103704,0.065359,0.319588,0.097643,0.155797,0.250859,0.090000,...,0.113333,0.300000,0.273810,0.275362,0.115226,0.064103,0.141975,0.264957,0.125786,0.040293
37,0.431579,0.205128,0.274914,0.159259,0.290850,0.072165,0.407407,0.231884,0.092784,0.083333,...,0.053333,0.116667,0.408730,0.135266,0.440329,0.474359,0.265432,0.264957,0.226415,0.542125
38,0.278947,0.211538,0.167526,0.113889,0.321078,0.036082,0.244949,0.165761,0.025773,0.035000,...,0.020000,0.031250,0.476190,0.039855,0.194444,0.221154,0.245370,0.115385,0.099057,0.373626
39,0.197368,0.112637,0.177835,0.172222,0.279412,0.164948,0.199495,0.133152,0.105670,0.065000,...,0.065000,0.143750,0.169643,0.195652,0.163580,0.201923,0.069444,0.208333,0.136792,0.288462
40,0.192105,0.239011,0.213918,0.133333,0.164216,0.164948,0.156566,0.086957,0.157216,0.237500,...,0.100000,0.050000,0.053571,0.101449,0.086420,0.192308,0.101852,0.134615,0.080189,0.222527
41,0.034211,0.046703,0.041237,0.083333,0.046569,0.025773,0.075758,0.065217,0.056701,0.065000,...,0.080000,0.059375,0.056548,0.050725,0.070988,0.038462,0.083333,0.044872,0.070755,0.010989
42,0.021053,0.113553,0.034364,0.103704,0.016340,0.213058,0.000000,0.083333,0.288660,0.300000,...,0.266667,0.025000,0.003968,0.038647,0.008230,0.064103,0.061728,0.047009,0.100629,0.084249
43,0.049123,0.069597,0.134021,0.088889,0.019608,0.109966,0.067340,0.047101,0.240550,0.253333,...,0.193333,0.112500,0.000000,0.154589,0.032922,0.064103,0.018519,0.111111,0.062893,0.040293
44,0.131579,0.120879,0.154639,0.100000,0.112745,0.025773,0.095960,0.141304,0.010309,0.035000,...,0.030000,0.018750,0.101190,0.036232,0.086420,0.057692,0.129630,0.025641,0.075472,0.214286
45,0.410526,0.312500,0.185567,0.242105,0.365591,0.147368,0.267442,0.333333,0.456522,0.221053,...,0.207207,0.252632,0.176471,0.144928,0.178161,0.242105,0.186813,0.207547,0.251572,0.209877
46,0.378947,0.325000,0.278351,0.368421,0.419355,0.326316,0.279070,0.343750,0.380435,0.326316,...,0.009009,0.010526,0.039216,0.004831,0.011494,0.010526,0.010989,0.018868,0.000000,0.012346
47,0.442105,0.162500,0.237113,0.189474,0.387097,0.126316,0.313953,0.343750,0.402174,0.231579,...,0.225225,0.252632,0.254902,0.183575,0.183908,0.231579,0.285714,0.301887,0.245283,0.234568
48,0.557895,0.250000,0.206186,0.157895,0.569892,0.200000,0.418605,0.531250,0.641304,0.178947,...,0.063063,0.031579,0.254902,0.048309,0.068966,0.063158,0.087912,0.056604,0.106918,0.135802
49,0.947368,0.737500,0.835052,0.842105,1.000000,0.852632,0.872093,1.000000,1.000000,0.842105,...,0.738739,0.757895,0.921569,0.594203,0.724138,0.747368,0.593407,0.849057,0.761006,0.666667
50,4.284211,4.175000,3.896907,3.800000,4.225806,3.600000,4.116279,4.270833,4.108696,3.768421,...,4.441441,4.357895,3.882353,4.183575,3.856322,4.200000,4.395604,3.716981,4.289308,3.950617

Computing the similarity matrix

Here what I used

https://stackoverflow.com/questions/37003272/how-to-compute-jaccard-similarity-from-a-pandas-dataframe

In [10]:
from sklearn.metrics.pairwise import pairwise_distances
jac_sim = 1 - pairwise_distances(movie_df.T, metric = "hamming")
# optionally convert it to a DataFrame
jac_sim = pd.DataFrame(jac_sim, index=movie_df.columns, columns=movie_df.columns)

In [11]:
jac_sim

,0,1,2,3,4,5,6,7,8,9,...,2608,2609,2610,2611,2612,2613,2614,2615,2616,2617
0,1.0,0.00,0.0,0.00,0.00,0.00,0.0,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,0.0,1.00,0.0,0.00,0.00,0.00,0.0,0.00,0.00,0.02,...,0.00,0.00,0.00,0.02,0.00,0.02,0.00,0.02,0.00,0.00
2,0.0,0.00,1.0,0.00,0.00,0.02,0.0,0.00,0.04,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3,0.0,0.00,0.0,1.00,0.00,0.00,0.0,0.00,0.00,0.02,...,0.00,0.00,0.00,0.00,0.00,0.02,0.04,0.00,0.00,0.00
4,0.0,0.00,0.0,0.00,1.00,0.02,0.0,0.04,0.02,0.00,...,0.00,0.00,0.02,0.00,0.02,0.04,0.00,0.00,0.02,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2613,0.0,0.02,0.0,0.02,0.04,0.04,0.0,0.02,0.00,0.02,...,0.02,0.02,0.04,0.00,0.04,1.00,0.00,0.04,0.02,0.02
2614,0.0,0.00,0.0,0.04,0.00,0.00,0.0,0.00,0.00,0.00,...,0.00,0.00,0.02,0.00,0.04,0.00,1.00,0.00,0.00,0.00
2615,0.0,0.02,0.0,0.00,0.00,0.00,0.0,0.00,0.00,0.02,...,0.00,0.00,0.02,0.04,0.00,0.04,0.00,1.00,0.00,0.00
2616,0.0,0.00,0.0,0.00,0.02,0.00,0.0,0.02,0.00,0.00,...,0.00,0.00,0.02,0.00,0.00,0.02,0.00,0.00,1.00,0.00
2617,0.0,0.00,0.0,0.00,0.00,0.02,0.0,0.00,0.02,0.00,...,0.02,0.00,0.00,0.00,0.00,0.02,0.00,0.00,0.00,1.00

In [12]:
jac_sim.shape

(2618, 2618)

In [13]:
#Construct a reverse mapping of indices and movie titles, and drop duplicate titles, if any
indices = pd.Series(df.index, index=df['title']).drop_duplicates()

In [14]:
indices

title
Man on a Ledge                           0
Seeds of Yesterday                       1
Billy Jack                               2
High Flying Bird                         3
Annihilation                             4
                                      ...
Greyhound                             2613
Killer Prom                           2614
The Golden Child                      2615
Max Reload and the Nether Blasters    2616
The Girl with the Dragon Tattoo       2617
Length: 2618, dtype: int64

In [15]:
# Function that takes in movie title as input and gives recommendatmovie_dfions 
def jaccard_recommender(title, jac_sim=jac_sim, df=df, indices=indices):
    # Obtain the index of the movie that matches the title
    idx = indices[title]

    # Get the pairwsie similarity scores of all movies with that movie
    # And convert it into a list of tuples as described above
    sim_scores = list(enumerate(jac_sim[idx]))

    # Sort the movies based on the cosine similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies. Ignore the first movie.
    sim_scores = sim_scores[1:11]

    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar movies
    return df['title'].iloc[movie_indices]

In [16]:
user_movies = pd.read_excel('user_movie_names.xlsx', index_col=None)  
user_movies = user_movies.rename(columns = {'movie_name':'title'})
user_movies

,respondent_id,movie_id,title
0,745007,9300,Man on a Ledge
1,745007,9171,Seeds of Yesterday
2,745007,9642,Billy Jack
3,745007,9200,High Flying Bird
4,745007,9577,Annihilation
...,...,...,...
234920,776978,11419,Kevin James: Never Don't Give Up
234921,776978,11302,The Swan Princess: A Royal Family Tale
234922,776978,11243,Justice League Dark
234923,776978,10967,The Secret of My Success
234924,776978,11328,An American Tail: The Mystery of the Night Mon...

Table for "watched/not watched", movie on the rows and users on the columns

In [17]:
user_movies = pd.crosstab(user_movies.title, user_movies.respondent_id)
user_movies

respondent_id,743006,743007,743008,743009,743010,743011,743012,743013,743014,743015,...,956601,956679,956685,956985,957002,957051,957162,957166,957170,957174
title,,,,,,,,,,,,,,,,,,,,,
300,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1408,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1917,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2012,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7500,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zoolander,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Zootopia,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
mother!,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
xXx,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
xXx: Return of Xander Cage,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
user_movies.columns = user_movies.columns.map(str)

### Seleting User and movie

In [19]:
user = pd.DataFrame(user_movies['745686']).reset_index()
user = user[user['745686'] == 1]
user

                             title  745686
232                         Avatar       1
592                       Deadpool       1
733                 Eyes Wide Shut       1
834              Full Metal Jacket       1
1060  Independence Day: Resurgence       1
1322                      Megamind       1
1395                  Mulan [1998]       1
1441                  Nightcrawler       1
2081                  The Graduate       1
2614                      Zootopia       1

Let's select a movie among what he watched

In [41]:
Jac_rec = pd.DataFrame(jaccard_recommender('Forrest Gump'))
Jac_rec

                                      title
1416                 The Philadelphia Story
2499                       The Wizard of Oz
261                            Galaxy Quest
1099                          Forever Young
1382                               Stronger
2255                  A League of Their Own
165                              Black Swan
276                      Enemy of the State
902   The Lord of the Rings: The Two Towers
1210                               Big Fish

Let's remove from the recommendation what he already saw

In [21]:
jac_inverse_boolean_series = ~Jac_rec.title.isin(user.title)
jac_inverse_filtered_df = Jac_rec[jac_inverse_boolean_series]
jac_inverse_filtered_df

                                    title
2466                          Rear Window
320                          Dante's Peak
375   The Imaginarium of Doctor Parnassus
468                         Stand Up Guys
1233                              Con Air
1263              The World Is Not Enough
1292                          End of Days
1338          A Walk Among the Tombstones
2                              Billy Jack
54                               Bad Boys

# Cosine similarity Score

In [22]:
from sklearn.metrics.pairwise import cosine_similarity

In [23]:
movie_df2 = movie_df.T

In [24]:
cosine_matrix = pd.DataFrame(cosine_similarity(movie_df2.values))

In [25]:
# Function that takes in movie title as input and gives recommendatmovie_dfions 
def cosine_recommender(title, cosine_matrix=cosine_matrix, df=df, indices=indices):
    # Obtain the index of the movie that matches the title
    idx = indices[title]

    # Get the pairwsie similarity scores of all movies with that movie
    # And convert it into a list of tuples as described above
    sim_scores = list(enumerate(cosine_matrix[idx]))

    # Sort the movies based on the cosine similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies. Ignore the first movie.
    sim_scores = sim_scores[1:11]

    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar movies
    return df['title'].iloc[movie_indices]

In [26]:
user = pd.DataFrame(user_movies['745686']).reset_index()
user = user[user['745686'] == 1]
user

                             title  745686
232                         Avatar       1
592                       Deadpool       1
733                 Eyes Wide Shut       1
834              Full Metal Jacket       1
1060  Independence Day: Resurgence       1
1322                      Megamind       1
1395                  Mulan [1998]       1
1441                  Nightcrawler       1
2081                  The Graduate       1
2614                      Zootopia       1

In [40]:
cos_rec = pd.DataFrame(cosine_recommender('Forrest Gump'))
cos_rec

                          title
2513                 The Upside
958            Secondhand Lions
2508            A Dog's Journey
2578                  Yesterday
2509                     Selena
2537              Spirited Away
2532             Last Christmas
1474          Good Will Hunting
2529  Where the Wild Things Are
2255      A League of Their Own

In [28]:
cos_inverse_boolean_series = ~cos_rec.title.isin(user.title)
cos_inverse_filtered_df = cos_rec[cos_inverse_boolean_series]
cos_inverse_filtered_df

                  title
143             Platoon
35                Bully
891               Juice
171               Joker
1279   Django Unchained
2453     Apocalypse Now
1299       Falling Down
344   Cocaine Godmother
1418        Deliverance
803        Hotel Mumbai

# Euclidean Distance

In [29]:
from sklearn.metrics.pairwise import euclidean_distances

In [30]:
euc_sim = pd.DataFrame(euclidean_distances(movie_df2.values))

In [31]:
# Function that takes in movie title as input and gives recommendatmovie_dfions 
def euclidean_recommender(title, euc_sim=euc_sim, df=df, indices=indices):
    # Obtain the index of the movie that matches the title
    idx = indices[title]

    # Get the pairwsie similarity scores of all movies with that movie
    # And convert it into a list of tuples as described above
    sim_scores = list(enumerate(euc_sim[idx]))

    # Sort the movies based on the cosine similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies. Ignore the first movie.
    sim_scores = sim_scores[1:11]

    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar movies
    return df['title'].iloc[movie_indices]

In [32]:
user = pd.DataFrame(user_movies['745686']).reset_index()
user = user[user['745686'] == 1]
user

                             title  745686
232                         Avatar       1
592                       Deadpool       1
733                 Eyes Wide Shut       1
834              Full Metal Jacket       1
1060  Independence Day: Resurgence       1
1322                      Megamind       1
1395                  Mulan [1998]       1
1441                  Nightcrawler       1
2081                  The Graduate       1
2614                      Zootopia       1

In [39]:
euc_rec = pd.DataFrame(euclidean_recommender('Forrest Gump'))
euc_rec

                                           title
1550                                     Saw III
2242                                    Predator
928                      The Autopsy of Jane Doe
739                                       Saw IV
1072  The Texas Chainsaw Massacre: The Beginning
571                                       Hostel
1066                              The Possession
1789                               A Quiet Place
1441                          Mad Max: Fury Road
2433                                   Insidious

In [34]:
euc_inverse_boolean_series = ~euc_rec.title.isin(user.title)
euc_inverse_filtered_df = euc_rec[euc_inverse_boolean_series]
euc_inverse_filtered_df

                                      title
2304                           Night School
1578                      Napoleon Dynamite
1364           Christmas at Pemberley Manor
1251                  Dude, Where's My Car?
2385       Dodgeball: A True Underdog Story
2438                 Office Christmas Party
397   A Christmas Prince: The Royal Wedding
1601                Love Don't Cost a Thing
2216                        The Flintstones
2315                             Moonstruck

In [103]:
Jac_rec = pd.DataFrame(jaccard_recommender('Citizen Kane'))
Jac_rec

                               title
439                      Walking Out
475                 Chariots of Fire
1165                           Beats
7                      Life of Crime
181   A Fantastic Fear of Everything
389                     Wind [Short]
470                          One Day
1189                        Blow Out
2337          Best Friend's Betrayal
35                             Bully

In [104]:
cos_rec = pd.DataFrame(cosine_recommender('Citizen Kane'))
cos_rec

                      title
1422          The Goldfinch
2052      The Ides of March
1298            The Aviator
606           The Good Liar
1185                Arrival
879   Roman J. Israel, Esq.
699                    Taps
1673       The Caine Mutiny
310         Bridge of Spies
2072     The Lincoln Lawyer

In [105]:
euc_rec = pd.DataFrame(euclidean_recommender('Citizen Kane'))
euc_rec

                          title
2528      The Angry Birds Movie
2069                 This Is 40
1803   The Silence of the Lambs
2066    The Secret Life of Pets
1613            Dumb and Dumber
1658                      Twins
1638               The Proposal
137                         Elf
1663  The Secret Life of Pets 2
1936              Happy Gilmore